@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* reset styles */
* {
  color: inherit;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 a {
  color: red;
}

section {
  padding: 50px 0;
  width: 70%;
  margin: 0 15%;
  max-width: 1400px;
}

section#tabComponent1 .tabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}
section#tabComponent1 .tabs .tabs-label {
  padding: 10px 15px;
  cursor: pointer;
}
section#tabComponent1 .tabs .tabs-radio {
  display: none;
}
section#tabComponent1 .tabs .tabs-radio:checked + .tabs-label {
  font-weight: bold;
  color: #009578;
  border-bottom: 2px solid #009578;
}
section#tabComponent1 .tabs .tabs-radio:checked + .tabs-label + .tabs-content {
  display: block;
}
section#tabComponent1 .tabs .tabs-content {
  order: 1;
  width: 100%;
  border-bottom: 3px solid #ddd;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

section#tabComponent2 {
  padding: 20px;
  border: 1px solid #f1f1f1;
}
section#tabComponent2 .mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}
section#tabComponent2 .mytabs input[type=radio] {
  display: none;
}
section#tabComponent2 .mytabs input[type=radio]:checked + label + .tab {
  display: block;
}
section#tabComponent2 .mytabs label {
  padding: 10px 20px;
  cursor: pointer;
}
section#tabComponent2 .mytabs label.free {
  background: #fff;
}
section#tabComponent2 .mytabs label.silver {
  background: #C0C0C0;
}
section#tabComponent2 .mytabs label.gold {
  background: #d4af37;
}
section#tabComponent2 .mytabs .tab {
  width: 100%;
  padding: 20px;
  background: #009578;
  order: 1;
  display: none;
}
section#tabComponent2 .mytabs .tab.free {
  background: #fff;
}
section#tabComponent2 .mytabs .tab.silver {
  background: #C0C0C0;
}
section#tabComponent2 .mytabs .tab.gold {
  background: #d4af37;
}
section#tabComponent2 .mytabs .tab h2 {
  font-size: 1.5em;
}

section#progressBar1 {
  background-color: #2e2e2e;
}
section#progressBar1 .container1 {
  margin: 0 auto;
  width: 300px;
  height: 23px;
  background-color: #009578;
  border-radius: 30px;
  position: relative;
}
section#progressBar1 .container1:hover {
  cursor: pointer;
}
section#progressBar1 .container1:hover .bar1 {
  animation-play-state: running;
}
section#progressBar1 .container1 .bar1 {
  width: 80%;
  height: 19px;
  background-color: #d4af37;
  border-radius: 30px;
  position: absolute;
  top: 2px;
  left: 2px;
  animation: animationBar1 3s ease 0s 2 normal forwards paused;
  /*
  ### ANIMATION DEFAULTS ###

  animation-name: none;
  animation-duration: 0;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running;
  */
}
@keyframes animationBar1 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

section#bread1 {
  background: #2c3e50;
  text-align: center;
}
section#bread1 #breadcrumb1 {
  list-style: none;
  display: inline-block;
}
section#bread1 #breadcrumb1 .icon {
  font-size: 14px;
}
section#bread1 #breadcrumb1 li {
  display: inline-block;
}
section#bread1 #breadcrumb1 li span {
  display: inline-block;
  margin-right: 8px;
}
section#bread1 #breadcrumb1 li:nth-child(even) a {
  background-color: #2980b9;
}
section#bread1 #breadcrumb1 li:nth-child(even) a:before {
  border-color: #2980b9;
  border-left-color: transparent;
}
section#bread1 #breadcrumb1 li:nth-child(even) a:after {
  border-left-color: #2980b9;
}
section#bread1 #breadcrumb1 li:first-child a {
  padding-left: 15px;
}
section#bread1 #breadcrumb1 li:first-child a:before {
  border: none;
}
section#bread1 #breadcrumb1 li:last-child a {
  padding-right: 15px;
}
section#bread1 #breadcrumb1 li:last-child a:after {
  border: none;
}
section#bread1 #breadcrumb1 li:active {
  background-color: #16a085;
}
section#bread1 #breadcrumb1 li:active:before {
  border-color: #16a085;
  border-left-color: transparent;
}
section#bread1 #breadcrumb1 li:active:after {
  border-left-color: #16a085;
}
section#bread1 #breadcrumb1 li a {
  color: #FFF;
  display: block;
  background: #3498db;
  text-decoration: none;
  position: relative;
  height: 40px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 20px;
}
section#bread1 #breadcrumb1 li a:before, section#bread1 #breadcrumb1 li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #3498db;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
section#bread1 #breadcrumb1 li a:before {
  left: -20px;
  border-left-color: transparent;
}
section#bread1 #breadcrumb1 li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #3498db;
}
section#bread1 #breadcrumb1 li a:hover {
  background-color: #1abc9c;
}
section#bread1 #breadcrumb1 li a:hover:before {
  border-color: #1abc9c;
  border-left-color: transparent;
}
section#bread1 #breadcrumb1 li a:hover:after {
  border-left-color: #1abc9c;
}

section#bread2 {
  background: #684551;
  text-align: center;
}
section#bread2 ul#breadcrumb2 {
  font-size: 20px;
}
section#bread2 ul#breadcrumb2 li {
  display: inline-block;
}
section#bread2 ul#breadcrumb2 li span {
  display: inline-block;
  margin-right: 10px;
}
section#bread2 ul#breadcrumb2 li:nth-child(even) {
  background-color: #684551;
}
section#bread2 ul#breadcrumb2 li:nth-child(even)::before {
  border-color: #684551;
  border-left-color: transparent;
}
section#bread2 ul#breadcrumb2 li:nth-child(even)::after {
  border-left-color: #684551;
}
section#bread2 ul#breadcrumb2 li a {
  color: #402E2A;
  display: block;
  background: #CEA0AE;
  height: 80px;
  line-height: 80px;
  text-align: center;
  position: relative;
  padding: 0 20px;
  margin-right: 30px;
}
section#bread2 ul#breadcrumb2 li a::before, section#bread2 ul#breadcrumb2 li a::after {
  content: "";
  border: 0 solid #CEA0AE;
  border-width: 40px 20px;
  width: 0;
  height: 0%;
  position: absolute;
  top: 0;
}
section#bread2 ul#breadcrumb2 li a:before {
  left: -20px;
  border-left-color: transparent;
}
section#bread2 ul#breadcrumb2 li a::after {
  left: 100%;
  border-color: transparent;
  border-left-color: #CEA0AE;
}
section#bread2 ul#breadcrumb2 li a:hover {
  background-color: #402E2A;
  color: white;
  transition: all 0.5s ease;
}
section#bread2 ul#breadcrumb2 li a:hover:before {
  border-color: #402E2A;
  border-left-color: transparent;
  transition: all 0.5s ease;
}
section#bread2 ul#breadcrumb2 li a:hover:after {
  border-left-color: #402E2A;
  transition: all 0.5s ease;
}