// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  a {
    color: red;
  }
}

// Tabs
section {
  padding: 50px 0;
  width: 70%;
  margin: 0 15%;
  max-width: 1400px;
}
section#tabComponent1 {
  
  .tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    .tabs-label {
      padding: 10px 15px;
      cursor: pointer;
    }
    .tabs-radio {
      display: none;
      &:checked+.tabs-label {
        font-weight: bold;
        color: #009578;
        border-bottom: 2px solid #009578;
      }
      &:checked+.tabs-label+.tabs-content {
        display: block;
      }
    }
    .tabs-content {
      order: 1;
      width: 100%;
      border-bottom: 3px solid #ddd;
      line-height: 1.5;
      font-size: 0.9em;
      display: none;
    }
  }
}

section#tabComponent2 {
  padding: 20px;
  border: 1px solid #f1f1f1;
  .mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    input[type='radio'] {
      display: none;
      &:checked {
        & + label {
          & + .tab {
            display: block;
          }
        }
      }
    }
    label {
      padding: 10px 20px;
      cursor: pointer;
      &.free {
        background: #fff;
      }
      &.silver {
        background: #C0C0C0;
      }
      &.gold {
        background: #d4af37;
      }
    }
    .tab {
      width: 100%;
      padding: 20px;
      background: #009578;
      order: 1;
      display: none;
      &.free {
        background: #fff;
      }
      &.silver {
        background: #C0C0C0;
      }
      &.gold {
        background: #d4af37;
      }
      h2 {
        font-size: 1.5em;
      }
    }
  }
}

// Progress Bars
section#progressBar1 {
  background-color: #2e2e2e;
  .container1 {
    margin: 0 auto;
    width: 300px;
    height: 23px;
    background-color: #009578;
    border-radius: 30px;
    position: relative;
    &:hover {
      cursor: pointer;
      .bar1 {
        animation-play-state: running;
      }
    }
    .bar1 {
      width: 80%;
      height: 19px;
      background-color: #d4af37;
      border-radius: 30px;
      position: absolute;
      top: 2px;
      left: 2px;
      animation: animationBar1 3s ease 0s 2 normal forwards paused;
      /*
      ### ANIMATION DEFAULTS ###

      animation-name: none;
      animation-duration: 0;
      animation-timing-function: ease;
      animation-delay: 0;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      */
      
    }
    @keyframes animationBar1 {
      0% {
        width: 0;
      }
      100% {
        width: 80%;
      }
    }
  }
}