// import google font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* reset styles */
* {
  color: inherit;
  margin: 0;
}

body {
  font-family: Poppins;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
}

h1 {
  a {
    color: red;
  }
}

// Custom Styles

section#tabComponent1 {
  width: 70%;
  margin: 0 15%;
  max-width: 1400px;
  .tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    .tabs-label {
      padding: 10px 15px;
      cursor: pointer;
    }
    .tabs-radio {
      display: none;
      &:checked+.tabs-label {
        font-weight: bold;
        color: #009578;
        border-bottom: 2px solid #009578;
      }
      &:checked+.tabs-label+.tabs-content {
        display: block;
      }
    }
    .tabs-content {
      order: 1;
      width: 100%;
      border-bottom: 3px solid #ddd;
      line-height: 1.5;
      font-size: 0.9em;
      display: none;
    }
  }
}